.inputs {
    display: flex;
    align-items: stretch;
}

.lkButton {
    padding-right: 15px;
    padding-left: 15px;
}

.CatForm  {
    outline:none;
    border: none;
    background-color: transparent;
}

.WhiteEdit  {
    outline:none;
    border: none;
    background-color: transparent;
    font-size: 0px;
    opacity: 0.0;
}

.form-control   {
    width: 300px;
}

img {
    width: 25px;
}

.contCreate {
    display: flex;
    justify-content: flex-start;
}